[
    {
        "model": "spark-chat-v1.5",
        "secrets": {
            "app_id": "",
            "api_key": "",
            "api_secret": ""
        }
    },
    {
        "model": "spark-chat-v2",
        "secrets": {
            "app_id": "",
            "api_key": "",
            "api_secret": ""
        }
    },
    {
        "model": "spark-chat-v3",
        "secrets": {
            "app_id": "",
            "api_key": "",
            "api_secret": ""
        }
    },
    {
        "model": "spark-chat-vision",
        "secrets": {
            "app_id": "",
            "api_key": "",
            "api_secret": ""
        }
    }
]